/* all */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: sans-serif;
}

.container {
    width: 85%;
    margin: 0 auto;
}

/* Header */
header {
    width: 100%;
    height: 100vh;
}

nav {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    width: 500px;
    justify-content: space-between;
}

.menu a {
    color: #140401CC;
    padding: 10px;
}

.logo {
    padding: 10px;
}

.header-content {
    width: 100%;
    margin-top: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-txt {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.header-txt h2 {
    font-weight: 700;
    font-size: 56px;
    line-height: 120%;
    color: #2A2625;
}

.header-txt h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 120%;
    color: #FA3F0F;
}

.header-txt h3{
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #808080;
}

.btn {
    width: 150px;
    height: 50px;
    background-color: #FA3F0F;
    color: white;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.over {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 60px;
}

.gray {
    color: #808080;
    font-size: 14px;
    line-height: 120%;
}

.number {
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #2A2625;
}

.header-img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.header-img > img {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
}

.header-img > div {
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 335px;
    z-index: 100;
}

.first {
    margin-top: 60px;
}

.hamburguer {
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 1360px) {
    header {
        height: 100%;
    }

    .header-content {
        flex-direction: column-reverse;
    }
    
    .header-txt {
        margin-top: 130px;
    }

    .header-txt h1, .header-txt h2, .header-txt h3 {
        text-align: center;
    }
    
    .btn-content {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 800px) {
    .header-img > div{
        width: 250px;
    }

    .header-img > img {
        width: 500px;
    }
}

@media screen and (max-width: 580px) {
    .menu {
        display: none;
    }

    .header-content {
        margin-top: 30px;
    }

    .header-img > div{
        width: 150px;
    }

    .header-img > img {
        top: 0;
        width: 300px;
    }

    .header-txt {
        margin-top: 60px;
        max-width: 270px;
    }

    .header-txt h1, .header-txt h2 {
        font-size: 32px;
    }

    .over {
        gap: 20px;
    }

    .number {
        font-size: 17px;
    }

    .gray {
        font-size: 12px;
    }

    .hamburguer {
        display: block;
    }
}

/* partnerships */
.partnerships {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    background-color: #FA3F0F;
    overflow: hidden;
    position: relative;
    margin-bottom: 300px;
}

.partnerships .part-img {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.part-img-1, .part-img-2 {
    position: absolute;
    width: 2500px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 100px;
    animation-duration: 10s;
    animation-name: part-1;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.part-img-2 {
    animation-name: part-2;
}

@keyframes part-1 {
    0% {
        left: 0;
    }

    99.99% {
        left: -2500px;
    }

    100% {
        left: 0;
    }
}

@keyframes part-2 {
    0% {
        left: 2500px;
    }

    99.99% {
        left: 0%;
    }

    100% {
        left: 2500px;
    }
}

@media screen and (max-width: 1360px) {
    .partnerships {
        margin-top: 100px;
    }
}