/* all styles */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Verdana;
}

.container {
    display: block;
    width: 70%;
}

html {
    overflow-x: hidden;
}

/* header */

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background-color: #0F1628;
    height: 580px;
    color: white;
    overflow: hidden;
}

header .container > div {
    padding-top: 60px;
}

.header-left {
    min-width: 345px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    gap: 100px;
}

.imgs {
    display: flex;
}

.hero-left {
    margin-left: 600px;
    z-index: 1000;
}

.planet-left {
    object-fit: contain;
    margin-top: -300px;
    margin-left: -470px;
    z-index:100;
}

.happy-left {
    object-fit: contain;
    margin-top: -520px;
    margin-left: 50px;
    z-index:100;
}    

.star-left {
    object-fit: contain;
    margin-top: -170px;
    margin-left: -15px;
    z-index:100;
}

.logo {
    width: 100%;
}

.logo h1 {
    font-size: 35px;
    font-weight: 300;
}

.text-hero {
    font-size: 45px;
}

.btn {
    width: 100%;
    margin-top: 30px;
}

.btn a {
    padding: 16px 60px;
    border-radius: 35px;
    color: white;
    font-size: 24px;
    font-weight: 600;
    border: 2px solid #D86A0A;
    transition: ease .3s;
}

.btn a:hover {
    background-color: #D86A0A;
}

.hero {
    position: absolute;
    left: 100px;
    z-index: 1000;
    width: 500px;
}

.planet {
    position: absolute;
    z-index: 100;
    top: 90px;
    left: 130px;
}

.happy {
    position: absolute;
    z-index: 100;
    top: 40px;
    left: 430px;
}

.star {
    position: absolute;
    z-index: 100;
    left: 480px;
    top: 170px;
}

/* responsive descktop */
@media screen and (max-width: 1280px) {
    .container {
        width: 80%;
    }

    .hero-left {
        margin-left: 550px;
        z-index: 1000;
    }
}

@media screen and (max-width: 1024px) {
    .hero-left {
        margin-left: 450px;
        z-index: 1000;
    }

    .planet-left {
        margin-top: -300px;
        margin-left: -470px;
        z-index:100;
    }

    .happy-left {
        margin-top: -520px;
        margin-left: 50px;
        z-index:100;
    }

    .star-left {
        margin-top: -170px;
        margin-left: -15px;
        z-index:100;
    }
}

/* responsive tablets */
@media screen and (max-width: 920px) {
    .hero-left {
        margin-left: 400px;
        z-index: 1000;
    }

    .planet-left {
        margin-top: -300px;
        margin-left: -470px;
        z-index:100;
    }

    .happy-left {
        margin-top: -520px;
        margin-left: 50px;
        z-index:100;
    }

    .star-left {
        margin-top: -170px;
        margin-left: -15px;
        z-index:100;
    }
}

@media screen and (max-width: 820px) {
    .text-hero {
        font-size: 40px;
    }

    .star-left {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .happy-left {
        margin-left: 0;
    }
}

@media screen and (max-width: 720px) {
    header {
        height: 480px;
    }

    .header-left {
        gap: 50px;
    }

    .text-hero {
        font-size: 35px;
    }

    .hero-left {
        margin-top: -60px;
        margin-left: 300px;
    }

    .planet-left {
        object-fit: contain;
        margin-top: -360px;
    }

    .happy-left {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .hero-left {
        margin-left: 200px;
    }

    .text-hero {
        font-size: 28px;
    }
}

@media screen and (max-width: 540px) {
    header {
        height: 450px;
    }

    .logo h1 {
        font-size: 30px;
    }

    .btn a {
        font-size: 23px;
        padding: 16px 40px;
    }

    .hero-left {
        margin-top: -80px;
    }
}

@media screen and (max-width: 414px) {
    header {
        height: 400px;
    }

    .header-left {
        min-width: 300px;
    }

    .logo h1 {
        font-size: 28px;
    }

    .text-hero {
        font-size: 25px;
    }

    .btn a {
        font-size: 20px;
        padding: 12px 30px;
    }

    .hero-left {
        margin-top: -10px;
        margin-left: 180px;
        width: 350px;
    }

    .planet-left {
        margin-top: -280px;
        margin-left: -330px;
        width: 150px;
    }
}

@media screen and (max-width: 378px) {
    .logo h1 {
        font-size: 28px;
    }

    .text-hero {
        margin-top: 5px;
        font-size: 23px;
    }

    .btn a {
        font-size: 18px;
        padding: 10px 25px;
    }

    .hero-left {
        margin-top: -10px;
        margin-left: 150px;
        width: 350px;
    }

    .planet-left {
        margin-top: -270px;
        margin-left: -310px;
        width: 130px;
    }
}

@media screen and (max-width: 300px) {
    .container {
        width: 90%;
    }

    header {
        height: 380px;
    }

    .header-left {
        min-width: 240px;
    }

    .logo h1 {
        font-size: 25px;
    }

    .text-hero {
        margin-top: 10px;
        font-size: 20px;
    }

    .btn a {
        font-size: 16px;
        padding: 10px 25px;
    }

    .hero-left {
        margin-top: -20px;
        margin-left: 105px;
        width: 350px;
    }

    .planet-left {
        margin-top: -280px;
        margin-left: -310px;
        width: 130px;
    }
}